.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  background-color: #fff;
  border-radius: 10px;
  width: 300px;
}

.input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.button {
  padding: 0.5rem 1rem;
  color: #fff;
  background-color: #007b5e;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.errorText {
  color: red;
  font-size: 0.8rem;
  height: 1rem; 
  margin-top: -0.5rem; 
}
